.homePage{
    height: auto;
    display: flex;
    flex-direction: column;  
    background-color: lightgrey;
}
.homePage .categories{
    padding: 0 1rem;
    display: flex;
    margin-top: 1rem;
    height: 10rem;
    width: auto;
}
.homePage .categories a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    height:80%;
    width: 18%; 
    margin: 1rem;
    padding-left: 1rem;
    border-radius: 5px;
    background-color: white;
    transition: transform 0.2s ease-in-out;
}
.homePage .categories .a span{
    font-size: 18px;
}
.homePage .categories a:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.homePage .categories .exploreAll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;   
    background-color: #353535;
    border-radius: 5px;
    margin: 1rem;
    color: white;
    transition: transform 0.2s ease-in-out;
}
.homePage .categories .exploreAll:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.homePage .categories a .exploreAll img{
    object-fit: contain;
    height: 40%;
    width: 50%;
}
.homePage .categories .exploreAll span{
    margin-top: 0.5rem;
    font-size: 17px;
}