.productPage{
    display: flex;
}
.categoryContainer{
    width: 20rem;
}
.categoryContainer .categories{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 10rem;
    position: fixed;
    margin-top: 5rem;
    padding: 1rem;
    background-color: lightgray;
    border-radius: 10px;
}
.categoryContainer .categories span{
    margin: 0.5rem 0;
}
.productList{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.searchBar{
    display: flex;
    margin: 3vh auto;
    height: 5vh;
    width: 20vw;
    font-size: 17px;
    color: rgb(107, 106, 106);
    padding: 2px 5px;
    border-radius: 10px;
    border: 1px solid #353535;
}
.searchBar:focus{
    outline: none;
}

