.orderPage h1{
    text-align: center;
}
.orderPage h2{
    text-align: center;
    color: #353535cb;
}
table{
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
.orderPage .ordersTable{
    margin: 0 auto 4rem;
    position: relative;
    width: 50%; 
}
.orderPage .ordersTable th{
    border-bottom: 1px solid black;
    background-color: #d9d9d967;
    padding: 1rem;
}
.orderPage .ordersTable td{
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
    padding: 0.5rem;
    background-color: #d9d9d967;
    text-align: center;
    max-width: 10rem;

}